body{
  font-family: 'Montserrat',sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bolder;
  line-height: 1.5;
}


#title{
  background-color: #ff4c68;
  color:#fff;
}

.container-fluid{
  padding: 3% 15%;
}
p{
  color: #8f8f8f;
}

.big-heading{
  font-size: 3.5rem;
}
.medium-heading{
  font-size: 2.5rem;
}
/* Navigation bar */
.navbar-brand{
  font-family: 'Ubuntu',sans-serif;
  font-size: 3rem;

}
.navbar{
  padding:0 0 4.5rem;
}


.nav-item{
  padding: 0 18px
}

.nav-link{
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Downloa Buttons */
.download-button{
  margin: 5% 3% 5% 0%;

}

/* title image */
.title-image{
  width: 320px;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}
@media (max-width: 1278px) {
  .title-image{
    /* width: 100p>x; */
    position: static;
    transform: rotate(0);
  }
}

@media (max-width: 993px) {
  #title{
    text-align: center;
  }
  .container-fluid{
    padding-bottom: 0;
  }
}
/* Features */
#features{
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position:relative;
}
.icon{
  color: #ef8172;
  padding: 2rem 0;
}
.icon:hover{
  color: #ff4c68;
}

#testimonials{
  text-align: center;
  background-color:#ef8172;
  color: #ffff;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
  padding:100px;
  text-align: center;
}
.card-item{
  padding:3% 2%;
}

/* Call to action section */
#cta{
  background-color: #ff4c68;
  font-family: 'Montserrat';
  font-weight: bolder;
  color: #ffff;
  text-align: center;
  padding: 7% 15%;

}
.cta-heading{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
/* Footer Section */
#footer{
  padding: 5% 15%;
  text-align: center
}
.footer-icon{
  margin: 10px 20px;
}
