{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Home{% endblock %}

{% block content %}
{% include '_header.html' %}

<section id="landing">
    <div class="row">
        <div class="card-item col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
              <h3>Dispatch</h3>
            </div>
            <div class="card-body">
              <h2>Free</h2>
              <p>5 Matches Per Day</p>
              <p>10 Messages Per Day</p>
              <p>Unlimited App Usage</p>
              <div class="d-grid">
              <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
            </div>
            </div>
        </div>
      </div>

         <div class="card-item col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
              <h3>Dispatch</h3>
            </div>
            <div class="card-body">
              <h2>Free</h2>
              <p>5 Matches Per Day</p>
              <p>10 Messages Per Day</p>
              <p>Unlimited App Usage</p>
              <div class="d-grid">
              <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
            </div>
            </div>
        </div>
      </div>
    </div>
</section>

    {% include '_footer.html' %}

{% endblock  %}














