{% extends 'bootstrap/base.html' %}
{% block styles %}
    {{super()}}
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->

{% endblock %}

{% block content %}
  <!--  Navbar-->
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-md d-flex align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="#">MLS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dispatch') }}">Dispatch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('input_dispatch') }}">Input_Dispatch</a>
          </li>
        {% if current_user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="#">Maintenance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">login</a>
          </li>

        {% endif %}
      </ul>
    </div>
  </div>
  </nav>
{% endblock %}












